body{
    background-color: cornflowerblue;
}

.produtoCreate{
    background-color:rgb(54, 54, 206);
    margin-top: 0%;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 20%;
    border-radius: 10px;
}

label{
    color: white;
}
small{
    color: rgb(173, 200, 252);
}

.top{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
